<% if current_user %>
  <div class="container mx-auto mt-28 px-5 flex w-4/5">
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-7xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-blue-600">LLaMa </span> language model</h1>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">LLaMA (Large Language Model Meta AI) is a state-of-the-art, efficient large language model by Meta, designed to advance AI research by providing accessible and versatile tools to the research community.</p>
  </div><br>
  <%= render template: 'messages/new' %>
  <%= render template: 'messages/index' %>
<% else %>
  <div class="container mx-auto mt-28 px-5 flex w-4/5">
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-7xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-blue-600">LLaMa </span> language model</h1>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">LLaMA (Large Language Model Meta AI) is a state-of-the-art, efficient large language model by Meta, designed to advance AI research by providing accessible and versatile tools to the research community.</p>
  </div><br>
<% end %>
